.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 100vh;
}

.result{
  margin-top: 50px;
  font-weight: bold;
}
.select select{
  background-color:blueviolet;
}
